body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}
header, footer {
    text-align: center;
}
main {
    flex-grow: 1;
}
#vt_bg_wapper{
    max-width: 100%;
}
/* #vt_bgtop_head{display: inline-flex;} */
#vt_main_top_wapper{max-width: 100%;}
#vt_sau_header{
    background-size: contain;
    background-repeat: no-repeat;
    height: 20.61vw;
}
#vt_menu_wapper{display: none;}
#vt_main_header{
    flex-direction: column;
    flex-wrap: wrap;
}
#vt_news_show{
    /* flex-basis: 68%;
    height: fit-content;
    width: fit-content; */
}
#vt_drawer{
    /* flex-basis: 32%;
    height: fit-content;
    width: fit-content; */
}
#vt_content_wapper{max-width: 100%;}
#vt_breadcrumb_top_wapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
}
#vt_pathway {
    float: none !important;

}
#vt_top {
    float: none !important;

}
.contentwidth1{width: auto;}
#vt_main_com {
    float: none !important;
    /* width: ; */
    /* flex-basis: 70%;
    height: fit-content;
    width: fit-content; */
}
#vt_nav_right {
    float: none !important;
    /* flex-basis: 30%;
    height: fit-content;
    width: fit-content; */
}
#vt_main_inside {
    display: flex;
    flex-direction: column;
}
.cols2.article_column.floatleft {
    float: none !important;
    flex-wrap: wrap;
    /* flex-basis: 50%; */
    height: fit-content;
    width: 300px;
}
.cols2.article_column.column_separator {
    float: none !important;
    flex-wrap: wrap;
    /* flex-basis: 50%; */
    height: fit-content;
    width: 300px;
}
.vt_blog_wapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 479px;
}
.widthinset50.inset1.floatleft {
    float: none !important;
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
    justify-content: center;
    align-items: center;
    width: 479px;
}
/* .vt_moduletable_clearfix_moduletable_boxnews{
    width: 300px;
} */

.widthinset50.inset2.floatleft {
    float: none !important;
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
    justify-content: center;
    align-items: center;
    width: 479px;
}
#vt_inset_wapper {
    display: flex !important;
    display: flex;
    flex-direction: column;
}
#vk_groups{
    /* height: fit-content;
    width: fit-content; */
}
.vt_module_inside{
    display: flex;
    flex-direction: column;
}
#vt_footer_menu_copyright{
    display: flex;
    flex-direction: column;
}